html {
    overflow-y: scroll;
}

body {
    background-image: url(../img/bg.png);
    border-top: .5rem solid #DC143C;
    color: #444;
}

a {
    color: #DC143C;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    /* ...and now override with proper CSS property */
    transition:color .2s ease-out, background 1s ease-in;
}

a:hover, a:active {
    color: #990E2A;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .container > section,
    .container > header,
    .container > footer {
        width: 66.666666666%;
    }
}

.container > section,
.container > header,
.container > footer {
    margin-bottom: 3rem;
}

.container > header h1 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2.5rem;
    border-bottom: 1px dashed #e0e0e0;
    padding-bottom: 1rem;
}

.container > header h1 small {
    font-size: 1rem;
    color: #666;
}

@media screen and (max-width: 767px) {
    .container > header h1 small {
        display: block;
    }

    .container > header h1 small .divider {
        display: none;
    }
}

.container > header h1 a {
    color: #000;
}

.container > header p {
    font-size: 1rem;
    font-style: italic;
    color: #bbb;
    position: relative;
}

@media screen and (min-width: 768px) {
    .container > header p:before {
        display: block;
        content: "\201C";
        font-size: 4rem;
        position: absolute;
        left: .5rem;
        top: 1.25rem;
        color: #e4e4e4;
    }
}

@media screen and (min-width: 768px) {
    .container > header p img {
        position: absolute;
        top: -1.2rem;
        right: -5.5rem;
    }
}
@media screen and (max-width: 767px) {
    .container > header p img {
        display: none;
    }
}

.container > header nav {
    border-bottom: 1px dashed #e0e0e0;
    padding-bottom: .5rem;
}

.container > header nav ul {
    margin: 0;
}

.container > header nav li {
    display: inline;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.container > header nav li .separator {
    padding: 0 .5rem;
    color: #999;
}

section {
    background: url(/theme/img/divider.png) no-repeat center bottom;
    padding-bottom: 3rem;
}

section:last-of-type {
    background: none;
    padding-bottom: 0;
}

section p {
    text-align: justify;
}

@media screen and (min-width: 768px) {
    article,
    .container > header h1,
    .container > header p,
    .container > header nav,
    .container > footer p,
    .paginator {
        padding: 0 3rem;
    }
}

article header {
    margin-bottom: 2rem;
}

article header h2 {
    font-weight: 700;
    margin-bottom: 0;
    position: relative;
}

@media screen and (min-width: 768px) {
    article header h2:before {
        display: block;
        content: "\00b6";
        font-size: 2rem;
        position: absolute;
        left: -1.75rem;
        top: .25rem;
        color: #e4e4e4;
    }
}

article header h2 a {
    color: #000000;
}

article header time {
    color: #bbb;
    font-style: italic;
    margin-top: 0.5rem;
    display: block;
}

article header time:before {
    content: "\2014\A0";
}

article img {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
}

article footer {
    margin-top: 2rem;
}

article footer p {
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #aaa;
    margin-bottom: 0;
}

blockquote,
code,
dl,
h1,
h2,
h3,
ol,
p,
pre,
ul {
    font:normal normal 400 1.125rem/1.5rem Georgia, serif;
    list-style:none;
}

pre, code {
    font: normal normal 400 .75rem/1rem "Courier New", Courier, monospace;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.codehilite {
    margin: 1.5rem 0;
}

.codehilite .hll { background-color: #ffffcc }
.codehilite .c { color: #808080 } /* Comment */
.codehilite .err { color: #F00000; background-color: #F0A0A0 } /* Error */
.codehilite .k { color: #008000; font-weight: bold } /* Keyword */
.codehilite .o { color: #303030 } /* Operator */
.codehilite .cm { color: #808080 } /* Comment.Multiline */
.codehilite .cp { color: #507090 } /* Comment.Preproc */
.codehilite .c1 { color: #808080 } /* Comment.Single */
.codehilite .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #FF0000 } /* Generic.Error */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #808080 } /* Generic.Output */
.codehilite .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #0040D0 } /* Generic.Traceback */
.codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #003080; font-weight: bold } /* Keyword.Pseudo */
.codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #303090; font-weight: bold } /* Keyword.Type */
.codehilite .m { color: #6000E0; font-weight: bold } /* Literal.Number */
.codehilite .s { background-color: #fff0f0 } /* Literal.String */
.codehilite .na { color: #0000C0 } /* Name.Attribute */
.codehilite .nb { color: #007020 } /* Name.Builtin */
.codehilite .nc { color: #B00060; font-weight: bold } /* Name.Class */
.codehilite .no { color: #003060; font-weight: bold } /* Name.Constant */
.codehilite .nd { color: #505050; font-weight: bold } /* Name.Decorator */
.codehilite .ni { color: #800000; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: #F00000; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #0060B0; font-weight: bold } /* Name.Function */
.codehilite .nl { color: #907000; font-weight: bold } /* Name.Label */
.codehilite .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: #007000 } /* Name.Tag */
.codehilite .nv { color: #906030 } /* Name.Variable */
.codehilite .ow { color: #000000; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mf { color: #6000E0; font-weight: bold } /* Literal.Number.Float */
.codehilite .mh { color: #005080; font-weight: bold } /* Literal.Number.Hex */
.codehilite .mi { color: #0000D0; font-weight: bold } /* Literal.Number.Integer */
.codehilite .mo { color: #4000E0; font-weight: bold } /* Literal.Number.Oct */
.codehilite .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
.codehilite .sc { color: #0040D0 } /* Literal.String.Char */
.codehilite .sd { color: #D04020 } /* Literal.String.Doc */
.codehilite .s2 { background-color: #fff0f0 } /* Literal.String.Double */
.codehilite .se { color: #606060; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
.codehilite .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
.codehilite .si { background-color: #e0e0e0 } /* Literal.String.Interpol */
.codehilite .sx { color: #D02000; background-color: #fff0f0 } /* Literal.String.Other */
.codehilite .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
.codehilite .s1 { background-color: #fff0f0 } /* Literal.String.Single */
.codehilite .ss { color: #A06000 } /* Literal.String.Symbol */
.codehilite .bp { color: #007020 } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #306090 } /* Name.Variable.Class */
.codehilite .vg { color: #d07000; font-weight: bold } /* Name.Variable.Global */
.codehilite .vi { color: #3030B0 } /* Name.Variable.Instance */
.codehilite .il { color: #0000D0; font-weight: bold } /* Literal.Number.Integer.Long */

li {
    line-height: 24px;
}

.container > footer {
    margin-bottom: .75rem;
    padding-top: .75rem;
    border-top: 1px dashed #e0e0e0;
}

.container > footer p {
    font-size: small;
    line-height: 1rem;
    color: #bbb;
    margin: 0;
}

.paginator {
    margin-bottom: 2rem;
    color: #999;
}

