{% extends '_article_base.html' %}

{% block article_content %}
    {{article.content}}
{% endblock %}

{% block article_footer %}
    <footer>
        <p>Posted in: <a href="{{SITEURL}}/{{article.category.url}}">{{article.category}}</a></p>
        <p>Tagged as: {% for tag in article.tags %}<a href="{{SITEURL}}/{{tag.url}}">{{tag}}</a>{% if not loop.last %} / {% endif %}{% endfor %}</p>
        <p>Wanna tell me what you think? <a href="{{SITEURL}}/{{CONTACT_URL}}">Get in touch.</a></p>
    </footer>
{% endblock %}
