<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{{SITENAME}}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="{{SITEURL}}/theme/favicon.ico" />
        <link rel="apple-touch-icon" href="{{SITEURL}}/theme/apple-touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{SITEURL}}/theme/apple-touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{SITEURL}}/theme/apple-touch-icon-iphone4.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{SITEURL}}/theme/apple-touch-icon-ipad3.png" />

        <link rel="stylesheet" href="{{SITEURL}}/theme/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{SITEURL}}/theme/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{SITEURL}}/theme/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{SITEURL}}/theme/css/colorbox.css">

        <link rel="stylesheet" href="{{SITEURL}}/theme/css/main.css">

        <script src="{{SITEURL}}/theme/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
            <div class="row">
                <div class="span9">

                    <div class="row">
                        <div class="span2"> <!-- logo -->
                            <div id="logo">
                                <a href="{{SITEURL}}">
                                    <img alt="{{SITENAME}}" src="/static/{{SITELOGO}}" />
                                </a>
                            </div> <!-- logo -->
                        </div> <!-- logo span -->

                        <div class="span7"> <!-- header -->
                            <header id="site-header">
                                <div id="site-header-content">
                                    <h1>
                                        <a href="{{SITEURL}}">{{SITENAME}}</a>
                                        <small>
                                            <span class="divider">/</span> {{SITETAGLINE}}
                                        </small>
                                    </h1>
                                    <p>
                                        {{SITEDESCR}}
                                    </p>
                                </div>
                            </header>
                        </div> <!-- header span -->
                    </div> <!-- header row -->

                    <div class="row"> <!-- content -->
                        <div class="content">
                            {% block content %}{% endblock %}
                        </div>
                    </div> <!-- content row -->

                    <div class="row"> <!-- footer -->
                        <div class="span7 offset2">
                            <footer id="site-footer">
                                <p>
                                    <a href="{{LICENSE_URL}}" target="_blank">
                                        {{LICENSE_NAME}}
                                    </a> {{AUTHOR}} /
                                    <a href="{{SITEURL}}/{{ARCHIVES_URL}}">Archives</a>
                                </p>
                                <p>
                                    Powered by
                                    <a href="https://github.com/getpelican/pelican" target="_blank">
                                        Pelican
                                    </a>
                                    /
                                    Source code on
                                    <a href="http://github.com/siovene/iovene.com" target="blank">
                                        GitHub
                                    </a>
                                    /
                                    Theme <code>Lannisport</code>, also on
                                    <a href="http://github.com/siovene/lannisport" target="_blank">
                                        GitHub
                                    </a>
                                </p>
                            </footer>
                        </div> <!-- footer span -->
                    </div> <!-- footer row -->
                </div> <!-- header+content+footer span -->

                <div class="span3">
                    <aside id="sidebar">
                        <div id="social-icons">
                            {% if GITHUB_URL %}
                                <span class="social-icon">
                                    <a href="{{GITHUB_URL}}" target="_blank" title="GitHub">
                                        <i class="icon-github-alt"></i>
                                    </a>
                                </span>
                            {% endif %}
                            {% if LINKEDIN_URL %}
                                <span class="social-icon">
                                    <a href="{{LINKEDIN_URL}}" target="_blank" title="LinkedIn">
                                        <i class="icon-linkedin"></i>
                                    </a>
                                </span>
                            {% endif %}
                            {% if TWITTER_URL %}
                                <span class="social-icon">
                                    <a href="{{TWITTER_URL}}" target="_blank" title="Twitter">
                                        <i class="icon-twitter"></i>
                                    </a>
                                </span>
                            {% endif %}
                            {% if GOOGLE_URL %}
                                <span class="social-icon">
                                    <a href="{{GOOGLE_URL}}" target="_blank" title="Google">
                                        <i class="icon-google-plus"></i>
                                    </a>
                                </span>
                            {% endif %}
                            {% if FACEBOOK_URL %}
                                <span class="social-icon">
                                    <a href="{{FACEBOOK_URL}}" target="_blank" title="Facebook">
                                        <i class="icon-facebook"></i>
                                    </a>
                                </span>
                            {% endif %}
                            {% if FLICKR_URL %}
                                <span class="social-icon">
                                    <a href="{{FLICKR_URL}}" target="_blank" title="Flickr">
                                        <i class="icon-camera"></i>
                                    </a>
                                </span>
                            {% endif %}
                        </div>

                        <div id="navigation">
                            {% include 'navigation.html' %}
                        </div>
                    </aside>
                </div> <!-- logo+navigation span -->
            </div> <!-- row -->
        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{SITEURL}}/theme/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
        <script>$('body').popover || document.write('<script src="{{SITEURL}}/theme/js/vendor/bootstrap.min.js"><\/script>')</script>

        <script src="{{SITEURL}}/theme/js/jquery.captions.js"></script>
        <script src="{{SITEURL}}/theme/js/vendor/jquery.colorbox-min.js"></script>

        <script src="{{SITEURL}}/theme/js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','{{GOOGLE_ANALYTICS_CODE}}'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
