{% extends 'base.html' %}

{% block title %}{{page.title|striptags}} / {{SITENAME}}{% endblock %}
{% block content %}
    <div class="span7 offset2">
        <section>
            <article>
                <header>
                    <h2>
                        <a href="{{SITEURL}}/{{page.url}}" rel="bookmark">
                            {{page.title}}
                        </a>
                    </h2>
                </header>

                {{page.content}}
            </article>
        </section>
    </div>
{% endblock %}
